# Ignore node_modules folder
node_modules/

# Ignore build output directories
dist/
build/

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.local

# Ignore OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled code
*.class
*.o
*.out
*.so

# Ignore Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.venv/

# Ignore any personal notes
*.txt
*.md
